services:
  - type: web
    name: rockxy-backend
    env: java
    plan: free
    # Ruta al backend en tu repositorio
    rootDir: backend/rockxy/rockxy
    buildCommand: ./mvnw clean install -DskipTests
    startCommand: java -jar target/rockxy-0.0.1-SNAPSHOT.jar
    envVars:
      - key: JAVA_VERSION
        value: "17"
      - key: PORT
        value: "8080"
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRATION
        value: "86400000"
