services:
  - type: web
    name: rockxy
    env: java
    buildCommand: |
      echo "Building Spring Boot backend..."
      ./mvnw clean install -DskipTests

    startCommand: |
      echo "Starting Spring Boot app..."
      java -jar target/*.jar

    plan: free
    autoDeploy: true
