services:
  - type: web
    name: rockxy
    runtime: docker
    repo: https://github.com/juanroldan1/Rockxy
    plan: free
    region: ohio # puedes cambiarlo si quieres
    dockerfilePath: ./Dockerfile

    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod

    healthCheckPath: /
    autoDeploy: true
